<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href=<%= root_path%>>AutoBot Automation <span class="sr-only">(current)</span></a> </li>
    </ul>
    <form class="form-inline my-2 my-md-0"> </form>
  </div>
</nav>

<div class="container">
  <div>
    <h2>Automate Task</h2>
  </div>
  <p style="font-size: smaller;">List of Profiles.</p>
  <% am_p = @lists %>
  <% if am_p.count > 0 %>
    <% am_p.each do |u| %>
      <ul class="list-group" style="font-size: smaller;">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= u.name %> <span> Member id: <%= u.member_id.present? ? u.member_id : '00000' %></span>
        </li>
      </ul><br>
    <%end%>
  <% else %>
    <ul class="list-group" style="font-size: smaller;">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        No Profile details !
        <span class="badge badge-primary badge-pill">0</span>
      </li>
    </ul>
  <% end %>

</div>

<div style="padding-top: 55px;">
  <footer class="page-footer font-small blue fixed-bottom" style="background: #007bff; font-size: smaller;" >

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: black;">© 2020 Copyright:
      <a href="mailto:adil3267@gmail.com" style="color: white;"> Contact Us </a>
    </div>
    <!-- Copyright -->

  </footer>
</div>